<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my angular app</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript">
        (function(){
            var app=angular.module('openCollege',[]);
            app.controller('client',function ($scope,$http) {
                $http.get('/open_college/api.php').then(function (response) {
                    $scope.members=response.data;
                },function (response) {

                });
            });
        }())
    </script>
</head>
<body  >

<div ng-app="openCollege">
    <div ng-controller="client">
        <input type="text" ng-model="searchParam">
        <table>
            <thead>
            <th>first name</th>
            <th>last name</th>
            <th>phone</th>
            <th>member type</th>
            <th>expiry date</th>
            <th>address</th>
            <th>email</th>
            </thead>
            <tr ng-repeat="member in members">
                <td>{{member.first_name}}</td>
                <td>{{member.last_name}}</td>
                <td>{{member.phone}}</td>
                <td>{{member.member_type}}</td>
                <td>{{member.expiry_date}}</td>
                <td>{{member.address}}</td>
                <td>{{member.mail_address}}</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>